.FilmDetails {
    background: #000;
    display: flex;
    flex-wrap: nowrap;
    color: #fff;
}


.FilmDetails img {
 padding: 40px;
}

.LeftColumn {
width: 400px;
padding: 40px;
}

.RightColumn {
width: 100%;
padding: 40px 300px 40px 40px;
background: #1e1d1d;
position:relative;
}



@media only screen and (max-width: 600px) {
.FilmDetails {
flex-wrap:wrap;}
.FilmDetails img {
 padding: 0px;
}
.FilmDetails img {
width: 100%;}


.LeftColumn, .RightColumn {
width:100%;
padding: 20px;}

.RightColumn {
padding-top: 40px;}

}




.Type {
position: absolute;
right: 0px;
top: 0px;
background: rgba(236, 188, 46, 0.75);
text-transform:uppercase;
padding: 10px 40px;
font-weight: bold;
}