.Search {
display: flex;
justify-content: center;
}

.Search input {
width: 500px;
padding: 20px;
font-size: 18px;
background: #1c1c1c;
margin: 20px;
border: none;
transition: all 0.5s ease;

}



.Search input[type=text] {
  color: white;
}

.Search input:focus {
    background: #eee !important;
}

.Search input:hover[type=text], .Search input:focus[type=text] {
  color: #000;
}

.Search input:hover {
    background: #353434;
}



.Search button {
width: 200px;
padding: 0px;
font-size: 18px;
background: #1c1c1c;
margin: 20px;
color: #fff;
padding: 0px;
border: none;
transition: all 0.5s ease;
}


@media only screen and (max-width: 600px) {

.Search {
display: flex;
justify-content: center;
flex-wrap:wrap;
}

.Search input, .Search button {
width: 100%;
  }

  .Search button {
  padding: 20px 0px;}
}


.Search button:hover {
background: #353434;
}